.container {
  font-family: 'Domine', serif;
  font-size: 1.25em;
}
p {
  font-size: 1.125em;
}
h1, h2, h3, h4 {
  margin-top: 25px;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 4em;
  color: #4000FF;
}
h2 {
  font-size: 2em;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: silver;
  border-style: solid none;
  border-width: 20px 0 0 0;
}
a, a:link, a:visited {
  font-weight: 800;
  color: #4000FF;
  text-decoration: none;
  border-bottom: 1px solid #4000FF;
}

a:hover, a:active {
  color: #9A2EFE;
}
