body {
	margin-top: 3em !important;
}

a {
  color: #888888;
}

a:hover, a:focus {
  text-decoration: none;
	color: black;
}

.paragraph-text {
	font-size: 2em;	
}

.social-icons i {
	padding: 10px;
	font-size: 3em;
}
