body {
  background: #FFFFFF;
  color: #000000;
	margin: 0.5em;
	margin-top: 3em !important;
}

.container {
  font-family: 'PT Serif', serif;
}

.text-line {
	font-size: 2rem;
	font-weight: 300;
}

.display-1 {
	font-size: 4rem;
  color: #888888;
}

.text-line a {
  color: #888888;
}

.social-icons a {
  color: #888888;
}

.social-icons i {
	padding: 10px;
	font-size: 3em;
	align: center;
}
